-content_for :navbar do
  %li.nav-item
    %a.nav-link{:href => "#about"} About
  %li.nav-item
    %a.nav-link{:href => "#services"} Services
  %li.nav-item
    %a.nav-link{:href => "#contact"} Contact

%header.bg-primary.bg-gradient.text-white
  .container.px-4.text-center
    %h1.fw-bolder PumpSpot
    %p.lead Open database of nearby tappable water resources.
    %a.btn.btn-lg.btn-light{:href => "/map"} View Map

/ About section
%section#about
  .container.px-4
    .row.gx-4.justify-content-center
      .col-lg-8
        %h2 About this Site
        %p.lead PumpSpot provides a map marked with the locations of over /insert number here/ tappable water resources.
        %ul
          %li Click the button above to open the map
          %li
/ Services section
%section#services.bg-light
  .container.px-4
    .row.gx-4.justify-content-center
      .col-lg-8
        %h2 Services we offer
        %p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.
/ Contact section
%section#contact
  .container.px-4
    .row.gx-4.justify-content-center
      .col-lg-8
        %h2 Contact us
        %p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.
