= stylesheet_link_tag "form_overrides", "data-turbo-track": "reload"

-content_for :navbar do
  %li.nav-item
    %a.nav-link{:href => "/"} Home

%header.bg-primary.bg-gradient.text-white
  .container.px-4.text-center
    %h1.fw-bolder Submit a Resource
    %p.lead PumpSpot is a community project. We rely on the public to submit data for our database. |
    use this form to submit a resource in your local area.

%section.form
  .container.px-4
    .row
      .col
        %h2 Submission Form
        %form{action: "/submit", method: "post"}
          %div.form-group
            %label{for: "resourceName"} Name:
            %input.form-control#resourceName{placeholder: "Lake Suchnsuch"}
          %div.form-group
            %div.row
              %div.col
                %label{for: "gpsLon"} GPS Longitude:
                %input.form-control#gpsLon{placeholder: "133.3333"}
              %div.col
                %label{for: "gpsLat"} GPS Longitude:
                %input.form-control#gpsLat{placeholder: "-433.3333"}
          %div.form-group
            %div.row
              %div.col
                %label{for: "category"} Category:
                %select.form-control#category
                  - WaterResource.categories.each do |c|
                    %option{value: "#{c[1]}"}= c[0]
              %div.col
                %div.form-check
                  %input.form-check-input#saltWaterTrue{type: "radio", name: "saltWaterTrue"}
                  %label{for: "saltWaterTrue"} Salt Water
                %div.form-check
                  %input.form-check-input#saltWaterFalse{type: "radio", name: "saltWaterFalse"}
                  %label{for: "saltWaterFalse"} Fresh Water
          %div.form-group
            %div.row
              %div.col
                %label{for: "capacity"} Capacity:
                %input.form-control#capacity{placeholder: "3321.411"}
              %div.col
                %label{for: "area"} Surface Area:
                %input.form-control#capacity{placeholder: "156.2"}
              %div.col
                %label{for: "elevation"} Surface Elevation:
                %input.form-control#elevation{placeholder: "156.00"}
